@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Slate: hsl(212, 45%, 89%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  background-color: var(--Slate);
}

.container {
  display: grid;
  place-items: center;
  background-color: var(--White);
  border-radius: 12px;
  height: 25rem;
  width: 16rem;
}

.qr-img {
  width: 14rem;
  height: 13.5rem;
  border-radius: 8px;
  object-fit: fill;
  margin-bottom: -1.5rem;
}

.details-card {
  text-align: center;
  padding: 0.2em 0.8rem 0.3rem 0.8rem;
}

.title {
  font-size: 15px;
}

.qr-details {
  font-size: 12px;
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}
@media (min-width: 375px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
